auto-save-list/**

elpa/**

server/**

backups/**

eshell/**

url/**

.persistent-scratch
.mc-lists.el

custom-settings.el
projectile.cache
projectile-bookmarks.eld
recentf
savehist
bookmarks
TAGS

*.bongo-library
sesion*
